<span class="badge">{{ project.size.humanReadable }}</span>
<table width="100%">
  <thead>
  <tr>
    <th style="width: 45%">name</th>
    <th>size</th>
    <th>date</th>
    <th>time</th>
  </tr>
  </thead>
  <tbody>
  {% for deployment in project.deployments %}
    <tr>
      <td class="table__cell"><a href="{{ deployment.url }}" class="link">{{ deployment.name }}</a></td>
      <td class="table__cell">{{ deployment.size.humanReadable }}</td>
      <td class="table__cell">{{ deployment.lastUpdate|date('d.m.Y') }}</td>
      <td class="table__cell">{{ deployment.lastUpdate|date('H:i A') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
