<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="/.rah/favicon.svg">
    {% block stylesheets %}
      <link rel="stylesheet" href="/.rah/css/dashboard.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css">
    {% endblock %}
  </head>
  <body class="body">
    <main style="padding-bottom: 200px">
      {% block body %}{% endblock %}
    </main>
    <footer class="footer">
      <p class="footer__text">
        Storage Usage {{ diskUsage.used.humanReadable }} / {{ diskUsage.limit.humanReadable }} (<span class="{% if diskUsage.percent > 0.9 %}warning{% endif %}">{{ diskUsage.percentHuman }}</span>)<br>
        {% if diskUsage.diskIsFullWarning %}
          <span class="warning">Warning: Disk only has {{ diskUsage.availableDisk.humanReadable }} left, but storage has {{ diskUsage.free.humanReadable }} potential usage left</span>
        {% endif %}
        <br>
        HowToUse:
      </p>
      <pre class="code-block language-bash" tabindex="0"><code class="language-bash" id="foo"><span class="token builtin class-name">source</span> <span
            class="token operator">&lt;</span><span class="token punctuation">(</span><span class="token function">curl</span> <span
            class="token parameter variable">-sSL</span> <a class=link target="_blank" href="{{ dashboardUrl }}/install.sh">{{ dashboardUrl }}/install.sh</a><span class="token punctuation">)</span>
<span class="token builtin class-name">rah upload</span> dist/public/ <span class="token builtin class-name">.</span>
<span class="token builtin class-name">rah append</span> .playwright/report/ .playwright/
</code></pre>
    </footer>
  </body>
</html>
