<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="/.rah/favicon.svg">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@github/relative-time-element@4.4.5/dist/bundle.min.js"></script>
    {% block stylesheets %}
      <link rel="stylesheet" href="/.rah/css/dashboard.css">
    {% endblock %}
  </head>
  <body class="body">
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer class="footer">
      <p class="footer__text">
        Storage Usage {{ diskUsage.used.humanReadable }} / <span class="tooltip" data-tooltip="configured in the env RAH_MAX_DISK_USAGE">{{ diskUsage.limit.humanReadable }}</span> (<span class="{% if diskUsage.percent > 0.9 %}warning{% endif %}">{{ diskUsage.percentHuman }}</span>)<br>
        {% if diskUsage.diskIsFullWarning %}
          <span class="warning">Warning: Disk only has {{ diskUsage.availableDisk.humanReadable }} left, but storage has {{ diskUsage.free.humanReadable }} potential usage left</span>
        {% endif %}
        <br>
        HowToUse:
      </p>
      <div class="code-block-wrapper">
        <code class="code-block" id="foo">
          <span class="tooltip" data-tooltip="installs the rah cli">
            <span class="class-name">source</span>
            &lt;(curl --fail-with-body -sSL
            <a class=link target="_blank" href="{{ dashboardUrl }}/install.sh">{{ dashboardUrl }}/install.sh</a>)
          </span>
          <br>
          <span class="class-name">export</span> <span class="tooltip" data-tooltip="RAH_API_KEY is generated and printed in the docker log on startup">RAH_API_KEY=rah_...</span>
          <br>
          <span class="class-name tooltip" data-tooltip="replaces a deployment if already present">rah upload</span> dist/public/ <span class="class-name">.</span>
          <br>
          <span class="class-name tooltip" data-tooltip="adds files to the current deployment">rah append</span> .playwright/report/ .playwright/
        </code>
      </div>
      <br>
    </footer>
  </body>
</html>
