{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} - RAH Project{% endblock %}

{% block body %}
    <header>
        <a href="{{ dashboardUrl }}" class="back-button">🔙</a>
        <h1><img src="/.rah/favicon.svg" alt="Logo" style="height: 1em;"><br> {{ project.name }}</h1>
    </header>

    <ul>
            <li>
                <span class="badge">{{ project.size.humanReadable }}</span>
                <table>
                    <thead>
                        <tr>
                            <th width="50%">name</th>
                            <th>size</th>
                            <th>date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deployment in project.deployments %}
                        <tr>
                            <td><a href="{{ deployment.url }}">{{ deployment.name }}</a></td>
                            <td>{{ deployment.size.humanReadable }}</td>
                            <td>{{ deployment.lastUpdate|date('d.m.Y') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </li>
    </ul>
{% endblock %}
