{% extends 'base.html.twig' %}

{% block title %}Directory {{ directory }} {% endblock %}

{% block body %}
  <header>
    <a href="{{ dashboardUrl }}" class="button--back">🔙 <img src="/.rah/favicon.svg" alt="Logo" class="button--back-icon"></a>
    <h1 class="header__title">
      <a href="/" class="link">~root~</a>{% for breadcrumb in breadcrumbs %}<a href="{{ breadcrumb.uri }}" class="link">{{ breadcrumb.name }}{% if not loop.last %}/{% endif %}</a>{% endfor %}
    </h1>
  </header>
  <ul class="list">
    {% for file2 in listing %}
      <li class="list__item" style="padding: 0">
        <a href="{{ file2.uri }}" class="link" style="display:block; padding: 15px">{{ file2.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
